*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.33%;
}
.col-12{
    width: 100%;
}

[class*='col-']
{
    float: left;
    border: 1px solid gray;
}

.row:after{
    content: '';
    clear: both;
    display: block;
}
.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 800px){
    .name{
        background-color: crimson;
    }
}
@media screen and (min-width: 1000px){
    .name{
        background-color: darkslategray;
    }
}
@media screen and (min-width: 801px) and (max-width: 999px){
    .name{
        background-color: lightseagreen;
    }
}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: auto;
}
@media screen and (max-width: 500px){
    .box{
        background-color: yellowgreen;
    }
}
@media screen and (max-width: 800px) and (min-width: 501px){
    .box{
        background-color: black;
    }
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
    .box{
        background-color: blue;
    }
}
@media screen and (min-width: 1101px){
    .box{
        background-color: hotpink;
    }
}



.header-height{height: 200px;}
.menu-height{height: 50px;}
.body-height{height: 600px;}
.big-footer-height{height: 300px;}
.footer-height{height: 40px;}


@media screen and (max-width: 1000px) and (min-width: 601px){
        .col-m-1{
        width: 8.33%;
        }
        .col-m-2{
            width: 16.66%;
        }
        .col-m-3{
            width: 25%;
        }
        .col-m-4{
            width: 33.33%;
        }
        .col-m-5{
            width: 41.66%;
        }
        .col-m-6{
            width: 50%;
        }
        .col-m-7{
            width: 58.33%;
        }
        .col-m-8{
            width: 66.66%;
        }
        .col-m-9{
            width: 75%;
        }
        .col-m-10{
            width: 83.33%;
        }
        .col-m-11{
            width: 91.33%;
        }
        .col-m-12{
            width: 100%;
        }
}


@media screen and (max-width: 600px){
    col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.33%;
    }
    .col-s-12{
        width: 100%;
    }

    .hide-content{
        display: none;
    }
}



